.calendar {
    margin: 1rem !important;
    border: 5px solid var(--primary);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background);
    width: 75%;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
    width: 50px;
}
